<ul>
    <li>支持 Bootstrap 3 和 Bootstrap 2</li>
    <li>自适应界面</li>
    <li>固定表头</li>
    <li>非常丰富的配置参数</li>
    <li>直接通过标签使用</li>
    <li>显示/隐藏列</li>
    <li>显示/隐藏表头</li>
    <li>通过 AJAX 获取 JSON 格式的数据</li>
    <li>支持排序</li>
    <li>格式化表格</li>
    <li>支持单选或者多选</li>
    <li>强大的分页功能</li>
    <li>支持卡片视图</li>
    <li>支持多语言</li>
    <li>支持插件</li>
    <li>支持 Bootstrap 3 和 Bootstrap 2</li>
    <li>自适应界面</li>
    <li>固定表头</li>
    <li>非常丰富的配置参数</li>
    <li>直接通过标签使用</li>
    <li>显示/隐藏列</li>
    <li>显示/隐藏表头</li>
    <li>通过 AJAX 获取 JSON 格式的数据</li>
    <li>支持排序</li>
    <li>格式化表格</li>
    <li>支持单选或者多选</li>
    <li>强大的分页功能</li>
    <li>支持卡片视图</li>
    <li>支持多语言</li>
    <li>支持插件</li>
    <li>支持 Bootstrap 3 和 Bootstrap 2</li>
    <li>自适应界面</li>
    <li>固定表头</li>
    <li>非常丰富的配置参数</li>
    <li>直接通过标签使用</li>
    <li>显示/隐藏列</li>
    <li>显示/隐藏表头</li>
    <li>通过 AJAX 获取 JSON 格式的数据</li>
    <li>支持排序</li>
    <li>格式化表格</li>
    <li>支持单选或者多选</li>
    <li>强大的分页功能</li>
    <li>支持卡片视图</li>
    <li>支持多语言</li>
    <li>支持插件</li><li>支持 Bootstrap 3 和 Bootstrap 2</li>
<li>自适应界面</li>
<li>固定表头</li>
<li>非常丰富的配置参数</li>
<li>直接通过标签使用</li>
<li>显示/隐藏列</li>
<li>显示/隐藏表头</li>
<li>通过 AJAX 获取 JSON 格式的数据</li>
<li>支持排序</li>
<li>格式化表格</li>
<li>支持单选或者多选</li>
<li>强大的分页功能</li>
<li>支持卡片视图</li>
<li>支持多语言</li>
    <li>支持插件</li>
    <li>支持 Bootstrap 3 和 Bootstrap 2</li>
    <li>自适应界面</li>
    <li>固定表头</li>
    <li>非常丰富的配置参数</li>
    <li>直接通过标签使用</li>
    <li>显示/隐藏列</li>
    <li>显示/隐藏表头</li>
    <li>通过 AJAX 获取 JSON 格式的数据</li>
    <li>支持排序</li>
    <li>格式化表格</li>
    <li>支持单选或者多选</li>
    <li>强大的分页功能</li>
    <li>支持卡片视图</li>
    <li>支持多语言</li>
    <li>支持插件</li>
    <li>支持 Bootstrap 3 和 Bootstrap 2</li>
    <li>自适应界面</li>
    <li>固定表头</li>
    <li>非常丰富的配置参数</li>
    <li>直接通过标签使用</li>
    <li>显示/隐藏列</li>
    <li>显示/隐藏表头</li>
    <li>通过 AJAX 获取 JSON 格式的数据</li>
    <li>支持排序</li>
    <li>格式化表格</li>
    <li>支持单选或者多选</li>
    <li>强大的分页功能</li>
    <li>支持卡片视图</li>
    <li>支持多语言</li>
    <li>支持插件</li><li>支持 Bootstrap 3 和 Bootstrap 2</li>
<li>自适应界面</li>
<li>固定表头</li>
<li>非常丰富的配置参数</li>
<li>直接通过标签使用</li>
<li>显示/隐藏列</li>
<li>显示/隐藏表头</li>
<li>通过 AJAX 获取 JSON 格式的数据</li>
<li>支持排序</li>
<li>格式化表格</li>
<li>支持单选或者多选</li>
<li>强大的分页功能</li>
<li>支持卡片视图</li>
<li>支持多语言</li>
<li>支持插件</li>

</ul>