<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.4.1.9004" targetFramework="net45" />
  <package id="bootstrap" version="3.0.0" targetFramework="net45" />
  <package id="CacheManager.Core" version="0.9.1" targetFramework="net45" />
  <package id="CacheManager.StackExchange.Redis" version="0.9.1" targetFramework="net45" />
  <package id="jQuery" version="1.10.2" targetFramework="net45" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="log4net.Ext.Json" version="1.2.15.14586" targetFramework="net45" />
  <package id="log4net.Ext.Json.1.2.13" version="1.2.13.20140804" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc.zh-Hans" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor.zh-Hans" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Web.Optimization.zh-Hans" version="1.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.zh-Hans" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Microsoft.Web.RedisOutputCacheProvider" version="1.7.2" targetFramework="net45" />
  <package id="Microsoft.Web.RedisSessionStateProvider" version="2.2.2" targetFramework="net45" />
  <package id="Modernizr" version="2.6.2" targetFramework="net45" />
  <package id="MongoDB.Bson" version="2.3.0" targetFramework="net45" />
  <package id="MongoDB.Driver" version="2.3.0" targetFramework="net45" />
  <package id="MongoDB.Driver.Core" version="2.3.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net45" />
  <package id="RedisAspNetProviders" version="1.0.1" targetFramework="net45" />
  <package id="Respond" version="1.2.0" targetFramework="net45" />
  <package id="ServiceStack.Common" version="4.5.0" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.5.0" targetFramework="net45" />
  <package id="ServiceStack.Logging.Log4Net" version="4.5.0" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="4.5.0" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.5.0" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.0.270" targetFramework="net45" />
  <package id="StackExchange.Redis.StrongName" version="1.1.605" targetFramework="net45" />
  <package id="WebGrease" version="1.5.2" targetFramework="net45" />
</packages>