<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <title>主页</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    @*<link href="~/Content/animate.css" rel="stylesheet" />*@

    <link href="~/Content/style.min.css" rel="stylesheet" />
    @*<link href="~/Scripts/plugins/layer/skin/layer.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/layer/skin/layer.ext.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/layer/skin/moon/style.css" rel="stylesheet" />*@

</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content">
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-2.1.1.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>

    @*<script src="/Scripts/plugins/metisMenu/jquery.metisMenu.js"></script>*@
    <script src="/Scripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    @*<script src="~/Scripts/plugins/layer/layer.min.js"></script>*@

    @*<script src="~/Scripts/hplus.min.js"></script>
        <script src="~/Scripts/contabs.min.js"></script>*@
    @*<script src="/Scripts/plugins/pace/pace.min.js"></script>*@

</body>
</html>